<configuration debug="true" packagingData="true">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app/roswar.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>false</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{dd MMM;HH:mm:ss} %level %logger{35} | %msg | %ex{full} [%thread]%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>